*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.unsplash.com/photo-1618556450991-2f1af64e8191?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}
main{
    background-image: url('https://images.unsplash.com/photo-1618556450991-2f1af64e8191?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-size: cover;
    box-shadow:7px 7px 30px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 670px;
    height: 550px;
    border-radius: 18px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    padding-top: 20px;
}
.inputs1{
    display: inline-block;
    display: flex;
    margin-left: -180px;
}
.sobrenome{
    margin-left:20px ;
}
.idade{
    margin-left: 20px;
}
h1{
    font-size: 2.7em;
    margin-left: -60px;
    letter-spacing: 2px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
input{
    text-align: center;
    width: 270px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid purple;
}
a{
    padding: 15px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    padding: 12px;
    background-color: rgb(224, 222, 224);
    transition: 0.1s;
    font-size: 1em;
}
.oi{
    width: 400px;
    margin-left: -90px;
}
pre{
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

